<html>
    <head>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'main.css'%}">
    </head>
    <body>
        <div>
            <ul>
                
                <li><a href="/blog/addblog/">ADDBLOG</a></li>
                <li><a href="/blog/allblog/">ALLBLOGS</a></li>
            </ul>
        </div>
        <center>
        {% for i in blogs %}
        <h1>{{ i.title }}</h1>
        <p>{{i.post}}</p>
        <h3>{{i.email}}</h3>
        <h3>{{i.date}}</h3>
        <hr>
        {% endfor %}
        </center>
    </body>
</html>